[Unit]
Description=Transparent DNS SOCKS Proxy

[Service]
Type=forking
ExecStart=/usr/bin/dns-proxy /etc/dns-proxy/dns-proxy.conf
ExecStop=killall dns-proxy

[Install]
WantedBy=multi-user.target

