[Unit]
Description=Transparent DNS SOCKS Proxy

[Service]
Type=simple
ExecStart=/usr/bin/dns-proxy /etc/dns-proxy/dns-proxy.conf
User=nobody

[Install]
WantedBy=multi-user.target

